<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis App</title>
    <link rel="stylesheet" type="text/css" href="https://danimals-23.github.io/Sentiment-Analysis/static/style.css">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <div class="form-container">
        <form action="/" method="POST" class="form">
            <input type="text" name="sentence" placeholder="Enter a sentence">
            <button type="submit">Classify</button>
        </form>
    </div>
</body>
</html>
